*{
    margin: 0;
    font-family: sans-serif;
}

.container{
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 300px 1fr auto;
    grid-template-areas: "title     title     title"
                         "nav       nva       nva"
                         "head      head      head"
                         "content   content   content"
                         "foot      foot      foot";
}
.title{
    background-color: #fff;
    grid-area: title;
    padding: 10px;
    text-align: center;
}
nav{
    background-color: #0097A7;
    grid-area: nav;
}
header{
    grid-area: head;
    background-image: linear-gradient(rgb(0,0,0,0.6), rgb(0,0,0,0.9)), url(hero.jpg);
    background-size: cover;
}
main{
    background-color: #EAF0F7;
    grid-area: content;
    padding: 10px 20px;
}
footer{
    background-color: #EAF0F7;
    grid-area: foot;
    height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title-content{
    font-size: 23px;
    font-weight: bold;
}
a, button{
    font-weight: bold;
    color: white;
    padding: 5px;
    cursor: pointer;
}
.option-1{
    background-color: #FFC107;
    color: black;
}
.nav-content{
    display: flex;
    justify-content: space-around;
}

button{
    background-color: #0097A7;
    border: none;
    padding: 5px;
}
.sms-content > p, button{
    color: white;
    margin: 10px 0;
}
.sms-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.p1{
    font-weight: bold;
}
label{
    color: black;
}

.container-service > p{
    margin-top: 5px;
    font-weight: bold;
    color: initial;
    text-align: center;
}
.container-service{
    background-color: white;
    box-shadow: 0 0 8px 2px rgb(0,0,0,0.1);
    padding: 15px;
    color:#0097A7;
}
.service p{
    margin: 10px 0;
}
.service{
    margin-top: 15px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-template-areas: "service1 service2 service3";
}
form{
    margin-top: 20px;
    background-color: #EAF0F7;
    border: solid 1px rgb(0,0,0,0.1);
}
@media(max-width: 667px){
    .service{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, auto);
        grid-template-areas: "service1"
                             "service2"
                             "service3"
                               ;
    }
}
.service-1{
    grid-area: service1;
}
.service-2{
    grid-area: service2;
}
.service-3{
    grid-area: service3;
} 
.service-1, .service-2, .service-3{
    padding: 5px;
    margin: 5px;
    border: solid 1px rgb(0,0,0,0.1);
    border-radius: 5px;
}
.circle{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    height: 100px;
    width: 100px;
    background-color: #FFC107;
    border-radius: 50px;
    margin: 0 auto;
}

.image-as{
    margin-top: 15px;
    width: 100%;
    box-shadow: 0 0 15px 5px rgb(0,0,0,0.1);
}
.bnt-3{
    border: none;
    font-weight: bold;
    color: white;
    height: 40px;
    padding: 14px;
    width: 125px;
}
.bnt-3:hover{
    background-color: #007886;
    transition: all 0.5s;
}
.bnt-3:not(:hover){
    background-color: #0097A7;
    transition: all 0.5s;
}
form{
    background-color: #fff;
    padding: 30px;
    border: solid 1px #F6F6F6;
}
input{
    border: solid 1px #F6F6F6;
    height: 20px;
    width: 100%;
}
input, textarea{
    max-width: 90%;
    padding: 10px;
}
textarea{
    width: 100%;
    border: solid 1px #F6F6F6;
}

.container-form{
    padding: 0 100px;
    top: -100px;
    position: relative;
}
@media(max-width: 571px){
    form{
        padding: 10px;
    }
    .container-form{
        padding: 0 5px;
    }
}
.container-text{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
@media(max-width: 1150px){
    .container-text{
        display: flex;
        align-items: start;
        flex-direction: column;
        padding-right: 22px;
    }
    input, textarea{
        max-width: 100%;
    }
}
@media(max-width: 300px){
    .nav-content{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    
}